# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# These files are ignored meaning that they will never be pushed to the repository.

# dependencies
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
**/.env
**/.env.local
**/.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
