.new-courses-container {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.new-courses-imgs-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
}

.new-courses-container button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3498db;
  color: #fff;
  border: none;
  font-size: 20px;
  cursor: pointer;
}